.name{
  text-align: center;
  font-size: 180px;
  color: rgb(0, 250, 0);
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: 50;
  text-shadow:  3px 3px 6px black, 0 0 1em black;
}
.othercolor {
  color: rgb(200, 100, 50);
}
.main_body{
  background-image: url("../media/setwalls.ru-4457.jpg");
}
.main_information{
    margin: auto;
    margin-top: 360px;
    padding: 20px;
    width: 900px;
    font-size: 30px;
    font-family: Avantgarde, sans-serif;
    color: rgb(0, 0, 35);
}

.main_information {

  text-align: center;
}
.main_information {
  text-shadow:  1px 1px 2px grey, 0 0 1em black;
  border-radius: 5px;
  background: #55acee;
  box-shadow: 0 5px 0 #3C93D5;
}

#butt {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: darkblue;
  box-shadow: 0 -3px midnightblue inset;
  transition: 0.2s;
  text-shadow:  1px 1px 1px grey, 0 0 1em grey;
}
#butt:hover {
  text-shadow:  0px 0px 1px grey, 0 0 1em white; }
#butt:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px midnightblue inset;
}

#tite {
  text-decoration: underline;
  font-size: 40px;
  text-shadow:  2px 2px 4px grey, 0 0 1em black;
}

.add_information{

}
#adding{
  margin-top: 50px;
  height: 770px;
}
table{
  margin-top: 50px;


}
textarea{
  text-align: left;
  font-size: 25px;
}
a{
  font-size: 35px;
  text-shadow:  1px 1px 2px grey, 0 0 1em white;
  border-radius: 3px;
  box-shadow: 0 3px midnightblue inset;
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 20px;
  background-color: #55acee;
  color: rgb(0, 0, 35);
  text-decoration: none;
}
a:hover {
  padding-left: 105px;
  padding-right: 105px;
  margin-left: 16px;
  text-shadow:  1px 1px 2px white, 0 0 1em white;
}

.in {
  height: 40px;
  width: 250px;
  font-size: 30px;
  font-family: Georgia;
}
