<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EnjoyWalking</title>
     <link rel="stylesheet" href="../../style/styles.css">

</head>
<body class="main_body">
<div class="name">Enjoy<span class="othercolor">Walking</span></div>
  <div id="adding" class="main_information">
    <div id="tite">Введите информацию:</div>
    <p><b>Ширина:</b> <input class="in" type="text"></p>
    <p><b>Долгота:</b> <input class="in" type="text"></p>
    <p><b>Оценка:</b> <Br><input class="in" type="radio" name="mark" value="1">1<Br>
        <input class="in" type="radio" name="mark" value="2">2<Br>
        <input class="in" type="radio" name="mark" value="3">3<Br>
        <input class="in" type="radio" name="mark" value="4">4<Br>
        <input class="in" type="radio" name="mark" value="5">5<Br>
    </p>
    <p><b>Комментарий:</b><Br><textarea name="comment" cols="50" rows="3"></textarea></p>
    <p><input id="butt" type="submit" value="Добавить место"></p>

  </div>
</body>
</html>
